.dashboard-title {
  text-align: center;
  color: #ff7e67;
  margin-top: 30px;
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
  flex-wrap: wrap;
}

.dashboard-profile {
  margin: 0 20px 30px;
  padding: 20px;
  width: 400px;
  min-width: 300px;
  text-align: center;
  height: 220px;
  overflow-wrap: normal;
  box-shadow: 0px 0px 12px -5px;
}

.profile-title {
  color: #07689f;
  margin-bottom: 20px;
}

.profile-paragraph {
  font-size: 20px;
  font-weight: 400;
}

.profile-button {
  margin-top: 25px;
  border-radius: 8px;
  background-color: #ff7e67;
  color: white;
  height: 50px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  padding: 5px;
}

.profile-button:hover {
  background-color: white;
  color: #ff7e67;
  border-bottom-style: none;
  border-left-style: none;
  border: 1.5px solid #ff7e67;
}
/* .about-paragraph {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  } */
