@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@400;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.formTitle {
  text-align: center;
  font-size: 40px;
  color: #ff7e67;
  margin: 30px;
}

.formContainer {
  width: 50%;
  margin: 0 auto;
}

.label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #07689f;
}

input {
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding-left: 6px;
  border: 0.5px solid grey;
}

.button {
  margin-top: 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff7e67;
  color: white;
  height: 50px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #ff7e67;
  border-bottom-style: none;
  border-left-style: none;
  border: 1.5px solid #ff7e67;
}

.login-sentence,
.sign-up-sentence {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

/* .sign-up-sentence {
  
} */

.sign-up-link,
.login-link {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #07689f;
}

a:hover {
  color: #ff7e67;
}

.countryDropdown {
  font-size: 14px;
  border-radius: 0px;
  height: 30px;
  border: 0.5px solid grey;
  padding: 0 2px;
  width: 50%;
  margin-bottom: 10px;
}

.regionDropdown {
  font-size: 14px;
  border-radius: 0px;
  height: 30px;
  border: 0.5px solid grey;
  padding: 0 2px;
  margin-left: 10px;
}
