@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@400;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.content-wrap {
  min-height: 100vh;
  margin-bottom: -50px;
}

.formTitle {
  text-align: center;
  font-size: 40px;
  color: #ff7e67;
  margin: 30px;
}

.formContainer {
  width: 400px;
  min-width: 400px;
  margin: 0 auto;
}

.label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #07689f;
}

input {
  width: 100%;
  /* min-width: 250px;
  max-width: 300px; */
  height: 30px;
  font-size: 14px;
  padding-left: 6px;
  border: 0.5px solid grey;
  margin: 0 auto;
}

.button {
  margin-top: 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff7e67;
  color: white;
  height: 50px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #ff7e67;
  border-bottom-style: none;
  border-left-style: none;
  border: 1.5px solid #ff7e67;
}

.logo-upload {
  border: none;
  padding: 0;
}

/* .new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ff7e67;
  font-size: 12px;
  color: #fff;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 12px;
  border: none;
}

.button-wrap {
  position: relative;
} */

.login-sentence,
.sign-up-sentence {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.sign-up-link,
.login-link {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 100px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #07689f;
}

a:hover {
  color: #ff7e67;
}

p {
  margin-bottom: 20;
}

.countryDropdown {
  font-size: 14px;
  border-radius: 0px;
  height: 30px;
  border: 0.5px solid grey;
  padding: 0 2px;
  width: 50%;
  margin-bottom: 10px;
}

.regionDropdown {
  font-size: 14px;
  border-radius: 0px;
  height: 30px;
  border: 0.5px solid grey;
  padding: 0 2px;
  margin-left: 10px;
}
