.navbar-items {
  background: linear-gradient(
    90deg,
    rgba(7, 104, 159, 1) 10%,
    rgb(162, 213, 242) 60%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0px 0px 12px -5px;
}

.navbar-logo {
  margin: 0;
  color: white;
  justify-self: start;
  margin-left: 20px;
  font-family: "Damion", cursive;
  cursor: pointer;
  font-size: 55px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;

  /* margin-right: 2rem; */
}

.nav-links {
  text-decoration: none;
  color: rgba(7, 104, 159, 1);
  font-weight: bold;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.nav-links:hover {
  background-color: rgba(7, 104, 159, 1);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: white;
  font-weight: bold;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.nav-button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-right: 30px;
  color: white;
  background-color: #ff7e67;
}

.nav-button:hover {
  padding: 8px;
  transition: all 0.3s ease-out;
  background: #ffff;
  color: #ff7e67;
  transition: 250ms;
}

@media screen and (max-width: 960px) {
  .navbar-items {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    padding-left: 16%;
    transition: all 0.5s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 10px -5px gray;
  }

  .nav-menu.active {
    background-color: rgb(162, 213, 242);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 80%;
    display: table;
  }

  .nav-links:hover {
    background: rgba(7, 104, 159, 1);
    border-radius: 10px;
  }

  .navbar-logo {
    position: absolute;
    top: -36px;
    left: -55.5px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    transform: (translate(-100%, 60%));
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 32px;
    /* right: 40px; */
    border-radius: 10px;
    width: 80%;
    background: #ff7e67;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links-mobile:hover {
    background: white;
    color: #ff7e67;
    transition: 250ms;
  }

  .nav-button {
    display: none;
  }
}
