.navbar-items {
  background: linear-gradient(
    90deg,
    rgba(7, 104, 159, 1) 30%,
    rgb(162, 213, 242) 60%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  margin: 0;
  color: white;
  justify-self: start;
  margin-left: 20px;
  font-family: "Damion", cursive;
  cursor: pointer;
  font-size: 55px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  /* margin-right: 2rem; */
}

.nav-links {
  text-decoration: none;
  color: rgba(7, 104, 159, 1);
  font-weight: bold;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.nav-links:hover {
  background-color: rgba(7, 104, 159, 1);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: white;
  font-weight: bold;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
